/* =========================
    Main - perfume card
========================= */
.main_container {
  justify-content: flex-start;
}
.perfume_card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);

  box-sizing: border-box;
  background-color: var(--color-brand-friday);
  padding: var(--spacing-lg) 0;
  width: 300px;
  height: 530px;
  margin-left: 150px;

  h2 {
    font-family: var(--font-family-display);
    font-size: var(--text-heading-sm);
    font-weight: bold;
    padding: var(--space-10);
    text-align: center;
  }
  .volume_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    width: max-content;
    height: 75px;

    .volume_btn {
      background-color: var(--color-brand-friday);
      color: var(--color-text-primary);
      font-family: var(--font-family-accent);
      font-size: var(--text-label);
      border: solid 1px var(--color-text-primary);
      padding: var(--spacing-sm);

      @media (max-width: 390px) {
        background-color: var(--color-brand-friday);
        color: var(--color-text-primary);
        font-family: var(--font-family-accent);
        font-size: var(--text-caption);
        border: solid 1px var(--color-text-primary);
        padding: var(--spacing-2xs);
      }

      &:hover,
      :focus {
        background-color: var(--color-text-primary);
        color: var(--color-text-inverse);
      }
      &:focus-within {
        background-color: var(--color-brand-friday);
        color: var(--color-text-primary);
        border: solid 2px var(--color-text-primary);
      }
    }
  }
}
@media (max-width: 390px) {
  .perfume_card {
    gap: 0;

    padding-top: var(--spacing-2xs);
    width: 100px;
    height: 170px;
    margin-right: 30px;

    h2 {
      font-family: var(--font-family-display);
      font-size: var(--text-caption);
      font-weight: bold;
      padding: 0;
      text-align: center;
    }
    img {
      width: 85px;
      /* margin-bottom: var(--spacing-2xs); */
    }
    .volume_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-2xs);
      width: max-content;
      height: 75px;
      margin-bottom: var(--spacing-2xs);
    }
  }
}

/* =========================
    Details
========================= */
.details {
  place-items: center;
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-5xl);

  .details_container {
    background-color: var(--color-brand-friday);
    width: 1135px;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 390px) {
      width: 100%;
      height: 430px;
    }
  }
  .product_views_set {
    width: 1030px;
    @media (max-width: 390px) {
      width: 390px;
      height: auto-fit;
    }
  }
}

/* =========================
    Description
========================= */
.description {
  background-color: var(--color-brand-friday);
  color: var(--color-text-inverse);
  font-family: var(--font-family-display);
  font-weight: bold;
  text-align: center;
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: var(--spacing-2xl);
  font-size: var(--text-label);
  span {
    text-decoration: underline;
  }
}
@media (max-width: 390px) {
  .description {
    line-height: var(--spacing-xl);
    font-size: var(--text-caption);
    padding-inline: var(--spacing-lg);
  }
}
